*,p,h1,h2,h3,h4,h5{
  font-family: Microsoft JhengHei;
  font-weight: bold;
}

/*navbar*/
.navbar-brand img{
  width: 15rem;
}
.bg-dark{
  opacity: 70%;
}

/*origin img*/
.oripic img{
  width: 10rem;
}

/*title font*/
.title{
  font-size: 2rem;
  color: #7891AE;
  position: absolute;
  top: -25px;
  left: 10px;
  background: linear-gradient(to bottom, #D8D1C4 0%, #D8D1C4 50%, white 50%, white 100%); 
}

/*font color*/
.font_bluegray{
  color: #7891AE;
}
.font_brown{
  color: #745E4D;
}

/*index tab*/
#index .nav-link{
  color: #745E4D;
}
#index .nav-link:focus,
#index .nav-link:hover {
  background-color: #F6F6F6;
  color: #745E4D;
}
#index .nav-pills .nav-link.active,
#index .nav-pills .show>.nav-link {
  background-color: #745E4D;
  color: white;
}
#index .tab-content{
  background-color: white;
}

/*system tab*/
#system .nav-link{
  color: black;
  transition: none;
}
#system .nav-tabs .nav-link:focus,
#system .nav-tabs .nav-link:hover {
  color: #7891AE;
  border: none;
}
#system .nav-tabs .nav-link.active,
#system .nav-tabs .show>.nav-link {
  color: #7891AE;
}

/*card*/
.card-img-top{
  height: 15rem;
}
.card{
  background-color: #89939A;
}
.myself{
  position: relative;
}
.self{
  position: absolute;
  bottom: 100%;
  overflow: hidden;
  height:0%;
  transition: .5s ease;
}
.myself:hover .self{
  bottom: 0%;
  height: 100%; 
}
#member .table,#member td{
  border: solid white 1px;
}